a:hover {
    color: #216e1e !important;
}

.navbar {
    padding: 0%;
    letter-spacing: 1px;
    font-size: 1.15rem;
    font-weight: 700;
    /* background: rgb(0, 0, 0) !important; */
}

.navbar-brand {
    font-size: 2.5rem;
}


/* .mb-lg-0{
  margin-left: 200px;
} */


/* toggler */

.navar-toggler {
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: flex;
    width: 18px;
    height: 2px;
    margin-left: 4px;
    background-color: white;
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span+span+span {
    width: 18px;
    margin-left: 4px;
}

.search {
    padding-bottom: 1%;
}

.searchField .search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchField .searchSection {
    width: 100%;
    color: black;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchField .searchButton {
    width: 40px;
    height: 50px;
  height: 50px;  
    height: 50px;
    background: #066806;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #066806;
}

.header {
    text-align: center;
    font-size: 20px;
    padding-top: 1%;
    background-color: #216e1e;
    width: 100%;
    color: white;

}

.headerText {
    padding: 0% 10% 1% 10%;
}

.reportForm,
.map {
    padding-top: 2%;
    border: 3px solid #216e1e;
    margin-top: 3%;
    padding-left: 10%;
    width: 90%
}

.col-md-5 {
    background-color: #216e1e;
    margin-top: 2%;
    color: white;
    /* width: 20%; */

}

#new-report,
.date,
.location,
.incidence {
    padding-top: 1%;
}

.input-group-append {
    cursor: pointer;
}

.reportButton {
    padding: 5%;
    padding-left: 18%;
    margin-bottom: 0%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 75vh;
    width: 100%
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 75vh;
    width: 100%;
    margin-top: 3%;
    border: 1px solid green;
}

.panel-header {
    background: #216e1e;
    margin-top: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}

.panel-header h2 {
    float: left;
    /* padding-left: 20px; */
    color: #fff;
    margin: 0;
}

.panel-header h4,
.panel-header button {
    float: right;
}



.panel {
    display: none;
}

.panel p {
    margin: 0;
    padding: 0 10px 20px;
    color: black;
    padding-left: 11%;
    font-size: 25px;
    padding-right: 10%;
    text-align: justify;
}

.landing-footer {
    text-align: center;
    font-style: italic;
    padding-top: 2%;
}




