a:hover {
    color: #216e1e !important;
}

.navbar {
    padding: 0%;
    letter-spacing: 1px;
    font-size: 1.15rem;
    font-weight: 700;
    background: rgb(0, 0, 0) !important;
}

.navbar-brand {
    font-size: 2.5rem;
}


/* .mb-lg-0{
  margin-left: 200px;
} */


/* toggler */

.navar-toggler {
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: flex;
    width: 18px;
    height: 2px;
    margin-left: 4px;
    background-color: white;
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span+span+span {
    width: 18px;
    margin-left: 4px;
}

.search {
    padding-bottom: 1%;
}

.sect1 {
    background-color: #3CF0CE;
    height: 1440px;
}

.heading {
    margin: auto;
    width: 40%;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.fillform {
    align-items: center;
}

.date {
    height: 40px;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

button {
    color: white;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color: #F03939;
}

.location {
    height: 40px;
    width: 305px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.description {
    width: 300px;
    margin: 10px;
    height: 300px;
    border-radius: 5px;
    border: none;
}