a:hover {
    color: #216e1e !important;
}

.navbar {
    padding: 0%;
    letter-spacing: 1px;
    font-size: 1.15rem;
    font-weight: 700;
    background: rgb(0, 0, 0) !important;
}

.navbar-brand {
    font-size: 2.5rem;
}


/* .mb-lg-0{
  margin-left: 200px;
} */


/* toggler */

.navar-toggler {
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: flex;
    width: 18px;
    height: 2px;
    margin-left: 4px;
    background-color: white;
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span+span+span {
    width: 18px;
    margin-left: 4px;
}

.search {
    padding-bottom: 1%;
}

.sect1 {
    background-color: #3CF0CE;
    height: 100vh;
    width: 100%;
}

.heading {
    margin: auto;
    width: 60%;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.fillform {
    align-items: center;
}

.date {
    font-size: 20px;
    height: 100px;
    width: 500px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding-left: 20px;
}

button {
    color: white;
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: none;
    background-color: #F03939;
    margin-left: 120px;
}

.location {
    height: 100px;
    width: 505px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.description {
    width: 500px;
    margin: 10px;
    height: 300px;
    border-radius: 5px;
    border: none;
    align-self: auto;
    font-weight: bold;
    padding-left: 20px;
}


/* //////////////////// */

.searchField .search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchField .searchSection {
    width: 100%;
    color: black;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchField .searchButton {
    width: 40px;
    height: 50px;
    background: #066806;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #066806;
}

.formmap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.lowhead {
    margin: auto;
    width: 42%;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}